.page-header
  .container
    .sixteen.columns
      %h1.page-title
        Benefits
        %span Free up IT resources 
.content.container.main
  .row
    .sixteen.columns
      .process
        .phase
          .icon
            %i.icon-lightbulb
            %span Share Calendars
          .description
            Let your colleagues, students, classmates, or friends see your calendar, and view schedules that others have shared with you. With Calendarium sharing, you do not have to worry about calling and/or emailing participants numerous times to schedule an event. When you know when everyone is free or busy, scheduling is a snap. You can also send invitations to your events using Calendarium and track their RSVPs by email.
        .phase
          .icon
            %i.icon-brush
            %span Reminders
          .description
            Calendarium has customizable reminders so you will never forget a meeting, appointment, assignment, or exam. You choose to receive your event reminders via SMS messages, emails, or popups within Calendarium itself.
        .phase
          .icon
            %i.icon-cogwheels
            %span Calendar Access Whenever You Need It
          .description
            Calendarium allows you to see your schedule even if you do not have access to the internet. With offline access, you can view a read-only version of your calendar no matter where you are.
