.page-header
  .container
    .sixteen.columns
      %h1.page-title
        Features
        %span Free up IT resources 
.content.container.main
  .row
    .sixteen.columns
      .process
        .phase
          .icon
            %i.icon-lightbulb
            %span Easy Scheduling
          .description
            You can easily schedule events and meetings by simply clicking on a day in the calendar. You can specify who you want to attend the meeting or event. You can manage RSVP's easily to see who plans to attend. There is a search feature so you can easily find an event. You can also set up an event by typing in the text of the event and specifying the date. The calendar is flexible and easily managed. Calendarium can keep track of all of you life's important events or help you manage your various projects.
        .phase
          .icon
            %i.icon-lightbulb
            %span Integration with Email
          .description
            Calendarium is integrated with email. When you create events and select participants the application sends an email invitation to them. Reminders of events and dates can be configured to notify you by email. You can customize how you get your notifications from Calendarium.  This makes Calendarium a very handy app in the PopCode business apps suite.
        .phase
          .icon
            %i.icon-lightbulb
            %span Sharing calendars
          .description
            Calendars in Calendarium can be shared with one or more persons that you specify. You can share with anyone that has an email address with any other provider. You can set the security settings for the individual calendar allowing access to the public or certain individuals. You can share your calendar by selecting this next to the calendar's name. There is a place to edit user permissions within Calendarium's sharing settings. This ability to share calendars is a fantastic way for people to communicate when they are free to schedule meetings and milestones.
        .phase
          .icon
            %i.icon-lightbulb
            %span Publish Calendars
          .description
            You can publish your calendar on your website. Calendarium creates the website embedded code automatically. You just need to access your site's files or the dashboard of your blogging platform. The look and feel of your calendar can be altered to go with your site. You can adjust the size, color, and other parameters to match the available space on your page. You can alter calendar settings so that the public can see events. This will depend on your goal for the calendar. You will need to know a little HTML to place the calendar code in the right place. Blogs will require you to place a text widget in the sidebar or even publish a new post.
            %br
            Calendarium is a great app in PopCode business apps. It can be used to keep many people informed of events, meetings, and milestones. The events can be easily added and the application will notify the people you want to have attend. Entire calendars can be shared easily. This allows everyone to be on the same page and keep current with a project. The ability to have email reminders can be very useful. The mobile device capability is also a great feature. Most people have a mobile device and can benefit from this. PopCpode business apps is a great collection of useful applications. You'll find that Calendarium is a go to app.
